HR.PersonalTimetable/Api/xsd/webuntis.config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="webuntis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="school" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="institute" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                      <xs:attribute type="xs:string" name="displayName" use="optional"/>
                      <xs:attribute type="xs:string" name="code" use="optional"/>
                      <xs:attribute type="xs:boolean" name="visible" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:anyURI" name="serviceUrl" use="optional"/>
            <xs:attribute type="xs:string" name="userName" use="optional"/>
            <xs:attribute type="xs:string" name="password" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:anyURI" name="serviceUrl" use="optional"/>
      <xs:attribute type="xs:string" name="userName" use="optional"/>
      <xs:attribute type="xs:string" name="password" use="optional"/>
      <xs:attribute type="xs:time" name="cacheDuration" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>